NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://workops:workops_password@localhost:5432/workops?schema=public"
JWT_SECRET="replace_with_a_secure_secret_at_least_32_characters"
JWT_EXPIRES_IN="1d"
CORS_ORIGIN="http://localhost:3000"
